<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>{{ decide_person }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'forms/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'forms/vendor/daterangepicker/daterangepicker.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'forms/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'forms/images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<center><a href="{% url 'student_home' %}"><h2>Home</h2></a></center><br>
				{% if decide_person == "student" %}
				<form class="login100-form validate-form" action="{% url 'forgot_password_student' %}" method="post">
					{% csrf_token %}
				{% else %}
				<form class="login100-form validate-form" action="{% url 'forgot_password_teacher' %}" method="post">
					{% endif %}
					{% csrf_token %}
					<span class="login100-form-title p-b-49">
						Forget Password
					</span>
          {% if password %}
          <center><h3>Your Password: <b>{{ password }}</b></h3></center><br>
          {% else %}
					<div class="wrap-input100 validate-input m-b-23">
						{{ forgot_form }}
					</div>
          {% endif %}

					{% if password and decide_person == "student" %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Student Login
							</button>
						</div>
					</div>
					{% elif password and decide_person == "teacher" %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Teacher Login
							</button>
						</div>
					</div>
					{% else %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Recover
							</button>
						</div>
					</div>
					{% endif %}
					<div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Login Using
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'forms/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'forms/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'forms/js/main.js' %}"></script>

</body>
</html>
